<div class="jumbotron">

  <h1 class="display-4 padding">Private Events</h1>
  <p class="lead">Plan and keep track of events with your friends</p>
  <hr class='my-r'>
  <p><strong>Demo Login: demo@example.com / password</strong></p>
  <% if user_signed_in? %>
    <%= link_to 'Events', '#', class: 'btn btn-primary btn-lg' %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success btn-lg' %>
  <% end %>
</div>
