<div class="container">
  <h1>Events</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "All Events", events_path, class: 'nav-link active' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Past Events', past_events_path, class: 'nav-link' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Live Events', live_events_path, class: 'nav-link' %>
    </li>
  </ul>
  <hr class="my-r">
  <div class="row row-cols-1 row-cold-xs-2 row-cols-md-3 row-cols-lg-4">
    <%= render partial: 'event_display', locals: {events:  @events}%>
  </div>
</div>
