<div class="container">
  <h1>Events</h1>
  <hr class="my-r">
  <div class="row row-cols-1 row-cold-xs-2 row-cols-md-3 row-cols-lg-4">
    <%= render partial: 'event_display', locals: {events:  @events}%>
  </div>
</div>
