@import "bootstrap/scss/bootstrap";
@import "custom";

[data-tooltip-arrow]::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 1rem;
    border-width: 2rem;
    border-color: white transparent transparent transparent;
}
