.event-listing__header {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    z-index: -1;
    height: 66vh;
    max-height: inherit;
    min-height: 500px;
    overflow: hidden;
}

.listing-hero-image__blurry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    filter: blur(50pc) brightness(0.9);
}

.event-listing__body {}

.listing-hero-details__main-container {}

.listing-hero_badge-container {}

.listing-hero {}

.listing-panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.listing-body {
    background: white;
}

.listing-panel-wrapper {}

.listing-card-info {}

.alignfull {
    max-width: 1000%;
    width: auto;
}
