<footer class="bg-primary pt-4 mt-4">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://www.grantcottle.com/" class="text-light"> grantcottle.com</a>
  </div>
</footer>
